{
    "extends": ["airbnb-base", "plugin:react/recommended"],
    "env": {
      "node": true,
      "es6": true,
      "browser": true
    },
    "parserOptions": {
      "ecmaVersion": "latest",
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "plugins": [
        "react"
    ],
    "rules": {
      "react/jsx-uses-react": "error",
      "react/jsx-uses-vars": "error",
      "react/prop-types": "off",
      "no-console": [
        "error",
        { "allow": ["error"] }
      ]
    },
    "settings": {
      "react": { "version": "detect" }
    }
}
