.hidden-section__toggle {
    margin-top: 30px;
    margin-left: var(--global-x-padding);
    display: flex;
    color: var(--black-400);
    gap: 10px;

    cursor: pointer;

    align-items: center;
    border: none;
    background-color: transparent;

    & svg {
        rotate: -90deg;
        transition: rotate 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    &[aria-expanded='true'] {
        & svg {
            rotate: 0deg;
        }
    }

    & span {
        font-size: 16px;
        margin-left: -3px;
    }
}

.supergrid__help-text {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--card-text-muted);
    font-size: 14px;
    margin-left: var(--global-x-padding);
}
.supergrid {
}
.supergrid__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-auto-flow: dense;
    gap: 16px;
    padding: 20px var(--global-x-padding) 10px;
}

.supergrid__section {
    /* margin-top: 15px; */
}
.hidden-grid-container {
    overflow-y: hidden;
}
.hidden-grid {
    opacity: 60%;
}
