.dropdown-button {
    display: flex;
    color: var(--black-400);
    gap: 10px;

    cursor: pointer;

    align-items: center;
    border: none;
    background-color: transparent;

    & svg {
        rotate: -90deg;
        transition: rotate 0.2s linear;
    }

    & span {
        font-size: 16px;
        margin-left: -3px;
    }
}

.dropdown-button--up {
    & svg {
        rotate: 0deg;
    }
}

.supergrid {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.supergrid__help-text {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: var(--card-text-muted);
    font-size: 14px;
}
.supergrid__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-auto-flow: dense;
    gap: 16px;
}

.supergrid__hidden-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.hidden-grid {
    opacity: 60%;
    width: 100%;
}
