.dropdown-button {
    display: flex;
    color: var(--black-400);
    gap: 16px;

    cursor: pointer;

    align-items: center;
    border: none;
    background-color: transparent;

    svg {
        rotate: -90deg;
        transition: rotate 0.2s ease;
    }

    & p {
        font-size: 16px;
        margin-left: -3px;
    }
}

.dropdown-button--up {
    svg {
        rotate: 0deg;
    }
}

.supergrid {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
