.dropdown-button {
    display: flex;
    color: #b4bbc0;
    gap: 1rem;

    cursor: pointer;

    align-items: center;
    border: none;
    background-color: transparent;

    & svg {
        rotate: -90deg;
        transition: rotate 0.2s linear;
    }

    & p {
        font-size: 1rem;
    }
}

.dropdown-button--up {
    & svg {
        rotate: 0deg;
    }
}

.supergrid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
