.ListPage {
	display: flex;
	flex-direction: column;
	min-height: 100%; /* So footer (the contact info one) actually stays at the bottom */
}

.badge-accent {
	color: #105c03;
	background: #19b875;
	padding: 10px;
	border-radius: 30;
}

.Locations-header {
	display: grid;
	grid-gap: 1rem;
	padding: 3rem 0;
}
/* we need this to properly animate the mask gradient */
@property --left-pos {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 0%;
}
.Locations-header__greeting {
	--left-pos: 100%;
	width: fit-content;
	animation: slide-in 1.2s forwards;
	animation-timing-function: cubic-bezier(0.04, 0.34, 0.5, 1.02);
	/* we add a delay so it doesn't look jittery on page load */
	animation-delay: 0.1s;
	opacity: 0;

	mask-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) var(--left-pos),
		rgba(0, 0, 0, 0) calc(var(--left-pos) + 10%)
	);
}
@keyframes slide-in {
	0% {
		opacity: 0;
		/* clip-path: inset(0px 100% 0px 0px); */
		transform: translate(-10px, 0);
		--left-pos: 0%;
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
		--left-pos: 100%;
	}
}
@media screen and (min-width: 900px) {
	.Locations-header {
		grid-template-columns: 1fr 300px;
		align-items: center;
	}
}

.Locations-search {
	display: block;
	width: 100%;
	padding: 0.8rem 1rem;
	padding-left: 3rem;
	border-radius: 1rem;
	background: #23272a;
	outline: none;
	border: 1px solid transparent;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
	transition: all 0.2s;
	font-family: inherit;
	font-size: 1.2rem;
	/* Heroicons v2.0.12 by Refactoring UI Inc., used under MIT license */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='rgba(255, 255, 255, .6)' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z' clip-rule='evenodd'/%3E%3C/svg%3E");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 1rem center;
	color: white;
	font-weight: 500;
}

.Locations-search::-webkit-search-decoration {
	display: none;
}

.Locations-search:focus {
	transition: all 0.5s;
	box-shadow: 0 0 40px #ee6f52;
	border-color: #ee6f52;
	outline: none;
}
.card {
	background-color: #23272a;
	border: 2px solid rgba(0, 0, 0, 0.2);
	text-align: left;
	border-radius: 7px;
	justify-content: flex-start;
	height: 100%;
}
.card--animated {
	opacity: 0;
	--card-show-delay: 0s;
	--fade-in-animation: fade-in 0.7s forwards var(--card-show-delay)
		cubic-bezier(0.08, 0.67, 0.64, 1.01);
	animation: var(--fade-in-animation);
	&:hover {
		animation:
			var(--fade-in-animation),
			glow-animation 1.5s ease 0s infinite;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translate(-20px, 0);
	}
	20% {
		opacity: 1;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}
@keyframes glow-animation {
	0% {
		box-shadow: 0 0 5px rgba(238, 111, 82, 0.7);
	}
	50% {
		box-shadow: 0 0 20px rgba(238, 111, 82, 0.7);
	}
	100% {
		box-shadow: 0 0 5px rgba(238, 111, 82, 0.7);
	}
}
@keyframes oscillate-opacity {
	0% {
		opacity: 1;
	}
	30% {
		opacity: 0.6;
	}
	90% {
		opacity: 1;
	}
}
.skeleton-card--animated {
	opacity: 0;
	--oscillate-delay: 0s;
	animation: fade-in 1s cubic-bezier(0.08, 0.67, 0.64, 1.01) 1s forwards,
	oscillate-opacity 2s ease-in-out var(--oscillate-delay) infinite;
}
