.ListPage {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* So the contact info footer actually stays at the bottom */
}
.ListPage__container {
    padding: 72px 48px 0;
    flex-grow: 1;
    @media screen and (max-width: 900px) {
        & {
            padding: 50px 15px;
        }
    }
}
.badge-accent {
    color: #105c03;
    background: #19b875;
    padding: 10px;
    border-radius: 30;
}

.Locations-header {
    display: grid;
    grid-gap: 1rem;
    padding-bottom: 48px;
    position: relative;
}
.Locations-header__miku-toggle {
    position: absolute;
    top: -290px;
    left: min(55%, 630px);
    mask-image: url('../assets/miku/miku-keychain.svg');
    mask-position: bottom;
    mask-size: contain;
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
    cursor: pointer;
    transition: 0.3s all;
    transform-origin: top;
    animation: 3s sway infinite cubic-bezier(0.364212, 0, 0.635788, 1);
    &:hover {
        top: -280px;
        &:active {
            top: -272px;
        }
    }
    & img {
        height: 410px;
    }
}
@media screen and (max-width: 900px) {
    .Locations-header__miku-toggle {
        right: -20px;
        left: auto;
    }
}
@keyframes sway {
    0%,
    100% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
    }
}
.Locations-header__greeting-container {
    container-type: inline-size;
    & .Locations-header__greeting--desktop {
        display: none;
    }
    padding-left: 2px;
    /* 600px is the approximate width of the location dropdown selector (we are also assuming that the desktop greeting is less than 600px wide) */
    @container (min-width: 600px) {
        & .Locations-header__greeting--desktop {
            display: block;
        }
        & .Locations-header__greeting--mobile {
            display: none;
        }
    }
}
/* we need this to properly animate the mask gradient */
@property --right-cutoff {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}
.Locations-header__greeting {
    color: var(--text-greeting);
    margin: 0;
    font-family: var(--text-primary-font);
    font-weight: 800;
    font-size: 2.5rem;

    --right-cutoff: 100%;
    width: fit-content;
    animation: slide-in 1.2s forwards;
    animation-timing-function: cubic-bezier(0.04, 0.34, 0.5, 1.02);
    /* we add a delay so it doesn't look jittery on page load */
    animation-delay: 0.1s;
    opacity: 0;

    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) var(--right-cutoff),
        rgba(0, 0, 0, 0) calc(var(--right-cutoff) + 10%)
    );
    &.Locations-header__greeting--mobile {
        font-size: 2rem;
    }
}
@keyframes slide-in {
    0% {
        opacity: 0;
        /* clip-path: inset(0px 100% 0px 0px); */
        transform: translate(-10px, 0);
        --right-cutoff: 0%;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
        --right-cutoff: 100%;
    }
}
@media screen and (min-width: 900px) {
    .Locations-header {
        grid-template-columns: 1fr 300px;
        align-items: center;
    }
}

.card {
    --card-glow-animation: glow-animation 1.5s ease 0s infinite;

    box-sizing: border-box;
    height: 100%;

    background-color: var(--card-bg);
    border: var(--card-border-width) solid var(--card-border-color);
    border-radius: 7px;

    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &:hover {
        animation: var(--card-glow-animation);
    }

    position: relative;
}
.card__header {
    background: var(--card-header-bg);
}
/* additional .card__header needed to override MUI styles. We can discard when we finish migration */
.card__header .card__header__text {
    line-height: 1.6;
    text-underline-offset: 20px;
}

.card .card__content {
    padding: 24px 16px 32px;
    @media screen and (max-width: 900px) {
        padding: 24px 16px;
    }
}
.card__actions {
    /* makes sure footer is actually on the bottom (we're in a flexbox column layout) */
    margin-top: auto;
    padding: 0 16px 16px 16px;
    margin-left: -2px; /* the illusion of alignment */

    display: flex;
    gap: 12px;
}
/* the overlay card. modifiers (in this case --dialog) actually cascade to relevant children */
.card--dialog {
    background: var(--dialog-bg);
    .card__header {
        background: var(--dialog-header-bg);
    }
}

.card--animated {
    opacity: 0;
    --card-show-delay: 0s;
    --card-fade-in-animation: fade-in 0.7s forwards var(--card-show-delay) cubic-bezier(0.08, 0.67, 0.64, 1.01);
    animation: var(--card-fade-in-animation);

    &:hover {
        animation: var(--card-fade-in-animation), var(--card-glow-animation);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate(-10px, 0);
        filter: blur(3px);
    }
    55% {
        filter: blur(0);
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
        filter: blur(0);
    }
}
@keyframes glow-animation {
    0% {
        box-shadow: 0 0 5px var(--hover-accent-color);
    }
    50% {
        box-shadow: 0 0 20px var(--hover-accent-color);
    }
    100% {
        box-shadow: 0 0 5px var(--hover-accent-color);
    }
}
@keyframes oscillate-opacity {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0.6;
    }
    90% {
        opacity: 1;
    }
}
.locations__error-text {
    color: var(--text-primary);
    font-family: var(--text-primary-font);
    font-size: 1.5rem;
    width: fit-content;
}

.skeleton-card--animated {
    opacity: 0;
    --oscillate-delay: 0s;
    animation:
        fade-in 1s cubic-bezier(0.08, 0.67, 0.64, 1.01) 1s forwards,
        oscillate-opacity 2s ease-in-out var(--oscillate-delay) infinite;
}

.block-period {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.block-period__current {
    text-decoration: none;
    margin-left: 11px;
    margin-top: 15px;
}

.block-period__current--hidden {
    opacity: 0;
    border-bottom: none;
}

.block-period__current--popup {
    padding-bottom: 12px;
    border-bottom: 1px solid #474747;
    margin-left: 0px;
    margin-top: 14.5px;
}

.block-period__popover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--card-bg);
    border: 1px solid #474747;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(40, 40, 40, 0.589);
    padding: 0px 10px;
    padding-bottom: 10px;
    z-index: 1000;
}

.block-period__popover__times {
    margin-bottom: 5px;
    padding-top: 0px;
}

.block-period__popover__times--current {
    font-weight: bold;
}
