.list-page-container {
    display: flex;
    position: relative;
    overflow-x: hidden;
    height: 100%;
}
.list-box {
    /* so that media queries can be done against the width of this side of the screen instead of the width of the entire window */
    container-type: inline-size;

    flex: 1;
    /* useful for making sure the contact info footer stays on the bottom */
    display: flex;
    flex-direction: column;
    & > * {
        flex-shrink: 0;
    }
    overflow-y: auto;
    height: 100%;
}

.list-controls-container {
    position: sticky;
    top: -10px;
    z-index: 727;
    background-color: var(--black-950);
    margin-bottom: 10px;
}
.list-controls-layout {
    margin-left: auto;
    padding: 27px var(--global-x-padding) 15px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 230px;
    max-width: 550px;
    gap: 0.6rem;
    align-items: center;

    @container (width<1000px) {
        max-width: initial;
        padding: 20px var(--global-x-padding) 15px;
    }
    @container (width<600px) {
        grid-template-columns: 1fr;
    }
}

.badge-accent {
    color: #105c03;
    background: #19b875;
    padding: 10px;
    border-radius: 30;
}

.Locations-header__miku-toggle {
    position: absolute;
    top: -290px;
    left: min(55%, 630px);
    mask-image: url('../assets/miku/miku-keychain.svg');
    mask-position: bottom;
    mask-size: contain;
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
    cursor: pointer;
    transition: 0.3s all;
    transform-origin: top;
    animation: 3s sway infinite cubic-bezier(0.364212, 0, 0.635788, 1);
    &:hover {
        top: -280px;
        &:active {
            top: -272px;
        }
    }
    & img {
        height: 410px;
    }
}
@media screen and (max-width: 900px) {
    .Locations-header__miku-toggle {
        right: -20px;
        left: auto;
    }
}
@keyframes sway {
    0%,
    100% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
    }
}

@media screen and (min-width: 900px) {
    .Locations-header {
        grid-template-columns: 1fr 300px;
        align-items: center;
    }
}

.skeleton-card--animated {
    opacity: 0;
    --oscillate-delay: 0s;
    animation:
        fade-in 1s cubic-bezier(0.08, 0.67, 0.64, 1.01) 1s forwards,
        oscillate-opacity 2s ease-in-out var(--oscillate-delay) infinite;
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate(-10px, 0);
        filter: blur(3px);
    }
    55% {
        filter: blur(0);
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
        filter: blur(0);
    }
}
@keyframes oscillate-opacity {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0.6;
    }

    90% {
        opacity: 1;
    }
}
