.list-page-container {
    display: flex;
    position: relative;
    overflow-x: hidden;
    height: 100%;
}
.list-box {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
.list-header {
    display: flex;
    flex-direction: column;
    padding: 28px 24px 12px;
    position: relative;
    @media screen and (max-width: 900px) {
        & {
            padding: 16px 15px 12px;
        }
    }
}

.list-header-greeting-container {
    container-type: inline-size;
    padding: 32px 32px 16px;
    & .Locations-header__greeting--desktop {
        display: none;
    }
    padding-left: 2px;
    /* 600px is the approximate width of the location dropdown selector (we are also assuming that the desktop greeting is less than 600px wide) */
    @container (min-width: 600px) {
        & .Locations-header__greeting--desktop {
            display: block;
        }
        & .Locations-header__greeting--mobile {
            display: none;
        }
    }
}

.list-header-controls {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 230px;
    gap: 0.6rem;
    align-items: center;
}

.badge-accent {
    color: #105c03;
    background: #19b875;
    padding: 10px;
    border-radius: 30;
}

.Locations-header__miku-toggle {
    position: absolute;
    top: -290px;
    left: min(55%, 630px);
    mask-image: url('../assets/miku/miku-keychain.svg');
    mask-position: bottom;
    mask-size: contain;
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
    cursor: pointer;
    transition: 0.3s all;
    transform-origin: top;
    animation: 3s sway infinite cubic-bezier(0.364212, 0, 0.635788, 1);
    &:hover {
        top: -280px;
        &:active {
            top: -272px;
        }
    }
    & img {
        height: 410px;
    }
}
@media screen and (max-width: 900px) {
    .Locations-header__miku-toggle {
        right: -20px;
        left: auto;
    }
}
@keyframes sway {
    0%,
    100% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
    }
}
/* we need this to properly animate the mask gradient */
@property --right-cutoff {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}
.Locations-header__greeting {
    color: var(--text-greeting);
    margin: 0;
    font-family: var(--text-primary-font);
    font-weight: 800;
    font-size: 40px;

    --right-cutoff: 100%;
    width: fit-content;
    animation: slide-in 1.2s forwards;
    animation-timing-function: cubic-bezier(0.04, 0.34, 0.5, 1.02);
    /* we add a delay so it doesn't look jittery on page load */
    animation-delay: 0.1s;
    opacity: 0;

    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) var(--right-cutoff),
        rgba(0, 0, 0, 0) calc(var(--right-cutoff) + 10%)
    );
    &.Locations-header__greeting--mobile {
        font-size: 32px;
    }
}
@keyframes slide-in {
    0% {
        opacity: 0;
        /* clip-path: inset(0px 100% 0px 0px); */
        transform: translate(-10px, 0);
        --right-cutoff: 0%;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
        --right-cutoff: 100%;
    }
}
@media screen and (min-width: 900px) {
    .Locations-header {
        grid-template-columns: 1fr 300px;
        align-items: center;
    }
}

.locations__error-text {
    color: var(--text-primary);
    font-family: var(--text-primary-font);
    font-size: 24px;
    width: fit-content;
    word-break: break-word;
}

.skeleton-card--animated {
    opacity: 0;
    --oscillate-delay: 0s;
    animation:
        fade-in 1s cubic-bezier(0.08, 0.67, 0.64, 1.01) 1s forwards,
        oscillate-opacity 2s ease-in-out var(--oscillate-delay) infinite;
}
