.MapPage {
    background-color: var(--main-bg);
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

.MapDrawer {
    background: var(--map-drawer-bg);
    overflow: hidden;
    box-sizing: content-box;
    & > div {
        padding: 14px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .MapDrawer {
        transition: max-height ease-in 300ms;
    }
}

.DrawerTransition-exit {
    max-height: 300px;
}

.DrawerTransition-enter,
.DrawerTransition-exit-active {
    max-height: 0;
}

.DrawerTransition-enter-active {
    max-height: 300px;
}
