.bottomSheet {
  z-index: 999;  
  position: fixed;
  overflow-y: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: var(--main-bg);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 -10px 30px black;
  display: flex;
  flex-direction: column;
  touch-action: none;
  transition: transform 0.3s ease-out;
}

.hidden {
  display: none;
}

.handle {
  width: 40px;
  height: 5px;
  background: var(--card-text-description);
  border-radius: 3px;
  margin: 8px auto;
  cursor: grab;
}

.controls {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.handleContainer{
    background:var(--black-1000);
}