.scotty_container {
    position: fixed;
    bottom: 70px;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 100;
    overflow: hidden;
    height: 60px;
}
.scotty {
    position: absolute;
    bottom: 0;
    animation: walk-across 20s linear infinite;
}
.scotty__img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    animation: bounce 0.5s ease-in-out infinite alternate;
    opacity: 0.7;
}

@keyframes walk-across {
    0% {
        left: -60px;
    }
    100% {
        left: calc(100% + 60px);
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-6px);
    }
}
