.drawer-box {
    flex: 1;
    background: darkslategray;
    height: 100%;
    overflow-y: scroll;

    @media screen and (max-width: 900px) {
        & {
            position: absolute;
            overflow-y: scroll;
            height: 100%;
            inset: 0;
        }
    }
}

.drawer-in {
    height: 10em;
    background: pink;
    position: sticky;
    bottom: 0;
}
