.drawer-header-container {
    padding: 25px var(--drawer-x-padding) 20px;
    background-color: #f13976;
}

.header__title {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.title__text {
    font-family: var(--text-primary-font);
    color: var(--black-100);
    font-size: 2rem;
    margin: 0;
}

.location-link {
    font-size: 24px;
    gap: 10px;
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
    & svg {
        transform: translateY(2px);
        height: 17px;
    }
}

.header__close-button {
    margin-left: auto;
    margin-bottom: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    background: rgba(255, 255, 255, 0.06);
    padding: 6px;
    color: var(--text-primary);
    cursor: pointer;

    &:hover {
        background: rgba(255, 255, 255, 0.14);
        transition:
            background 160ms ease,
            transform 160ms ease,
            opacity 160ms ease;
    }
}

.header__status {
    gap: 10px;

    font-size: 15px;
    color: var(--status-color);
    border: 2px solid var(--status-color);
    border-radius: 4px;
    width: fit-content;
    padding: 4px 7px;
    font-weight: 700;
}

.header__location {
    margin-top: 10px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    color: var(--text-muted);
    gap: 5px;
}
