.container {
    display: flex;
    flex-direction: column;
    padding: 20px var(--drawer-x-padding) 40px;
}

.description {
    font-size: 14px;
    line-height: 1.7;
}

.section-header {
    font-size: 20px;
    color: var(--card-text-muted);
    margin: 30px 0px 20px;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        margin-top: 10px;
        margin-left: -27px;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.6) 0%,
            rgba(255, 255, 255, 0.1) 80%,
            rgba(255, 255, 255, 0) 100%
        );
    }
}

.hours-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hours-row {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--text-muted);
}

.hours-day {
}
.hours-line {
    flex: 1;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    align-self: center;
}

.hours-row-active {
    color: var(--text-primary);
    font-weight: 600;

    .hours-line {
        border-color: var(--text-muted);
    }
}

.hours-times {
    text-align: right;
    line-height: 1.5;
}
.special {
    margin-bottom: 20px;
}
.special__title {
    color: var(--black-100);
    font-weight: 500;
}

.special__desc {
    color: var(--black-500);
    margin-top: 8px;
}

.inline-link {
    color: var(--location-open-text-color);
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    gap: 5px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:hover {
        text-decoration: underline;
    }
}
