.drawer-header-container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.drawer-loction-text {
    font-family: var(--text-primary-font);
    font-size: 2rem;
    margin: 0;
}

.status-text {
    color: var(--status-color);
    border: 1px solid var(--status-color);
    border-radius: 4px;
    width: fit-content;
    padding: 0.4rem 0.3rem;
}
