.container {
    display: flex;
    flex-direction: column;
    padding: 15px 27px 40px;
}

.section-header {
    font-size: 1.5rem;
    margin: 30px 0px 20px;
    color: var(--text-primary);
}

.hours-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hours-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-muted);
}

.hours-day {
    display: flex;
    align-items: center;
    flex: 1;

    &::after {
        content: '';
        flex: 1;
        margin-inline: 12px;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    }
}

.hours-row-active {
    color: var(--text-primary);
    font-weight: 600;

    & .hours-day::after {
        content: '';
        flex: 1;
        margin-inline: 12px;
        border-bottom: 1px dashed var(--text-muted);
    }
}

.hours-time {
    text-align: right;
}

.specials-item-title {
    color: var(--text-primary);
    font-weight: 600;
    margin-bottom: 5px;
}

.specials-item-dscrp {
    color: var(--text-muted);
    margin-bottom: 15px;
}

.inline-link {
    color: var(--location-open-text-color);
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    gap: 5px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:hover {
        text-decoration: underline;
    }
}
