.drawer-header-container {
    padding: 15px 27px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.drawer-location-text {
    font-family: var(--text-primary-font);
    color: var(--text-primary);
    font-size: 2rem;
    margin: 0;
}

.location-link {
    font-size: 26px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.close-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    background: rgba(255, 255, 255, 0.06);
    border: none;
    color: var(--text-primary);
    cursor: pointer;

    &:hover {
        background: rgba(255, 255, 255, 0.14);
        transition:
            background 160ms ease,
            transform 160ms ease,
            opacity 160ms ease;
    }
}

.status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.status-text {
    font-size: 15px;
    color: var(--status-color);
    border: 2px solid var(--status-color);
    border-radius: 4px;
    width: fit-content;
    padding: 4px 7px;
    font-weight: 700;
}

.location-text {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    color: var(--text-muted);
    gap: 5px;
}
