.card {
    --card-glow-animation: glow-animation 1.5s ease 0s infinite;

    box-sizing: border-box;
    height: 100%;

    background-color: var(--card-bg);
    border: var(--card-border-width) solid var(--card-border-color);
    border-radius: 7px;

    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &:hover {
        animation: var(--card-glow-animation);
    }

    position: relative;
}

.card__header {
    background: var(--card-header-bg);
}

/* additional .card__header needed to override MUI styles. We can discard when we finish migration */
.card__header .card__header__text {
    line-height: 1.6;
    text-underline-offset: 20px;
}

.card .card__content {
    padding: 24px 16px 32px;

    @media screen and (max-width: 900px) {
        padding: 24px 16px;
    }
}

.card__actions {
    /* makes sure footer is actually on the bottom (we're in a flexbox column layout) */
    margin-top: auto;
    padding: 0 16px 16px 16px;
    margin-left: -2px;
    /* the illusion of alignment */

    display: flex;
    gap: 12px;
}

/* the overlay card. modifiers (in this case --dialog) actually cascade to relevant children */
.card--dialog {
    background: var(--dialog-bg);

    .card__header {
        background: var(--dialog-header-bg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate(-10px, 0);
        filter: blur(3px);
    }

    55% {
        filter: blur(0);
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes glow-animation {
    0% {
        box-shadow: 0 0 5px var(--hover-accent-color);
    }

    50% {
        box-shadow: 0 0 20px var(--hover-accent-color);
    }

    100% {
        box-shadow: 0 0 5px var(--hover-accent-color);
    }
}

@keyframes oscillate-opacity {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0.6;
    }

    90% {
        opacity: 1;
    }
}

.card__header__dot {
    width: 12px;
    height: 12px;
    margin-top: 7px;
    border-radius: 50%;
}

.card__header__dot--blinking {
    animation: blinking 1s infinite;
    animation-play-state: paused;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.card__pin-container {
    position: absolute;
    bottom: 14px;
    right: 10px;
    display: flex;
    flex-direction: row;
}

.card__pin-button {
    border-radius: 10px;

    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
    img {
        height: 19px;
        width: 22px;
        padding: 5px 2px;
        opacity: 0.6;
        transition: 0.05s opacity;
    }
    &:hover {
        background: hsl(206, 6, 25);
        img {
            opacity: 1;
        }
    }
    &.card__pin-button--pinned {
        img {
            opacity: 1;
        }
    }
}
