.card-content-container {
    padding: 1rem;
}

.location-name-text {
    font-family: var(--text-primary-font);
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.physical-location-text {
    font-size: 1rem;
    color: var(--card-text-muted);
    display: block;
    margin-top: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & svg {
        margin-right: 0.3rem;
    }
}

.card-action-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.details-button {
    display: inline-flex;
    align-items: center;

    padding: 0.4rem 0.5rem;
    border: none;
    border-radius: 3px;
    background-color: var(--button-bg);
    font-size: 0.65rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: var(--button-bg--hover);
        letter-spacing: 0.05em;
    }
}

.card-content-more-button {
    color: var(--text-primary);
    border: none;
    border-radius: 5px;
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        color: var(--hover-accent-color);
        background-color: rgba(255, 255, 255, 0.08);
    }
}

.card-content-menu {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    transform: translateX(-100%);
    z-index: 999;
    border-radius: 5px;
    border: 1px solid var(--card-border-color);
    background-color: var(--card-bg);
    color: var(--text-primary);
    padding: 5px 8px;
}

.menu-button {
    display: inline-flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}
