.card-content-container {
    padding: 12px 10px;
}

.location-name-text {
    font-family: var(--text-primary-font);
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.physical-location-text {
    font-size: 14px;
    color: var(--card-text-muted);
    display: block;
    margin-top: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & svg {
        margin-right: 0.3rem;
    }
}

.card-action-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
}

.card-content-more-button {
    color: var(--text-primary);
    border: none;
    border-radius: 5px;
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        color: var(--hover-accent-color);
        background-color: rgba(255, 255, 255, 0.08);
    }
}

.card-content-menu {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    transform: translateX(-100%);
    z-index: 999;
    border-radius: 5px;
    border: 1px solid var(--card-border-color);
    background-color: var(--card-bg);
    color: var(--text-primary);
    padding: 5px 8px;
}

.menu-button {
    display: inline-flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}
