.card-header-container {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 0px;
    color: var(--status-color);
    border-bottom: 2px solid var(--status-color);
    padding: 3px 13px 4px;
    box-sizing: content-box;
    background: var(--card-header-bg);
}

.card-header-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--status-color);
    margin-right: 8px;
    &.card-header-dot--blinking {
        animation: blinking 1s infinite;
    }
}
@keyframes blinking {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.time-container {
}

.card-header-relative-time-text {
    font-size: 14px;
    margin-right: 4px;
}

.card-header-absolute-time-text {
    font-size: 13px;
    color: var(--black-500);
}

.button-container {
    margin-left: auto;
    margin-right: -3px;
}

.more-button {
    color: var(--text-primary);
    border: none;
    padding: 6px;
    border-radius: 5px;
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        color: var(--hover-accent-color);
        background-color: rgba(255, 255, 255, 0.08);
    }
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateX(-100%);
    z-index: 999;
    width: max-content;
    border-radius: 5px;
    border: 2px solid var(--black-900);
    background-color: var(--card-bg);
    color: var(--text-primary);
    padding: 7px;
}

.menu-button {
    display: inline-flex;
    font-size: 14px;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 3px;
    background-color: var(--card-bg);
    padding: 6px 8px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.08);
        &:active {
            background-color: rgba(255, 255, 255, 0.03);
        }
    }
}

.pin-button {
    color: var(--yellow-400);
}

.hide-button--hide {
    color: var(--red-300);
}

.hide-button--show {
    color: var(--green-500);
}
.report-button {
    color: var(--red-500);
}

/* report popup styles */
.report__header {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    word-break: break-word;
    line-height: 1.6;
}
.report__input {
    margin-top: 20px;
    height: 90px;
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    padding: 15px 10px 15px;
    box-sizing: border-box;
    background-color: var(--black-950);
    border-color: var(--black-900);
    border-width: 2px;
}
.report__button-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: fit-content;
    gap: 20px;
    margin-top: 20px;
}
.report__cancel-button {
    font-size: 16px;
    color: var(--black-300);
}
.report__report-button {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--red-600);
    &:hover {
        background-color: var(--red-700);
    }
    color: var(--black-100);
}
