.card-content-container {
    padding: 12px 10px;
}

.location-name-text {
    font-family: var(--text-primary-font);
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.physical-location-text {
    font-size: 14px;
    color: var(--card-text-muted);
    display: block;
    margin-top: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & svg {
        margin-right: 0.3rem;
    }
}

.action-bar {
    display: flex;
    margin-top: 12px;
    align-items: center;
    justify-content: space-between;
}

.rating {
    visibility: hidden;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-content-menu {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    transform: translateX(-100%);
    z-index: 999;
    border-radius: 5px;
    border: 1px solid var(--card-border-color);
    background-color: var(--card-bg);
    color: var(--text-primary);
    padding: 5px 8px;
}

.action-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: var(--text-primary);
    width: 34px;
    height: 34px;
    position: relative;
    cursor: pointer;

    &:hover {
        color: var(--hover-accent-color);
        background-color: rgba(255, 255, 255, 0.08);
    }

    &::after {
        content: attr(aria-label);
        z-index: 999;
        position: absolute;
        bottom: 115%;
        left: -100%;
        font-size: 12px;
        background-color: var(--main-bg);
        color: var(--text-primary);
        text-align: center;
        border-radius: 5px;
        padding: 5px 8px;
        white-space: nowrap;
        opacity: 0;
        transition:
            opacity 0.2s ease,
            visibility 0.2s ease;
        pointer-events: none;
    }
    &:hover::after {
        opacity: 1;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 70%;
        border-width: 8px;
        border-style: solid;
        border-color: var(--main-bg) transparent transparent transparent;
        opacity: 0;
        transition:
            opacity 0.2s ease,
            visibility 0.2s ease;
    }
    &:hover::before {
        opacity: 1;
    }
}
