.locations__error-text {
    color: var(--text-primary);
    font-family: var(--text-primary-font);
    font-size: 20px;
    width: fit-content;
    word-break: break-word;
    padding-left: calc(var(--global-x-padding) + 2px);
    padding-right: 20px;
    margin-bottom: 100px;
    line-height: 1.6;
}
.hidden-section__toggle {
    margin-top: 30px;
    margin-left: var(--global-x-padding);
    display: flex;
    color: var(--black-400);
    gap: 10px;

    cursor: pointer;

    align-items: center;
    border: none;
    background-color: transparent;

    & svg {
        rotate: -90deg;
        transition: rotate 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    &[aria-expanded='true'] {
        & svg {
            rotate: 0deg;
        }
    }

    & span {
        font-size: 16px;
        margin-left: -3px;
    }
}

.supergrid__help-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--card-text-muted);
    font-size: 14px;
    margin-inline: var(--global-x-padding);
    div:nth-child(1) {
        background-color: hsl(11 59% 55% / 1);
        color: white;
        padding: 5px 10px;
        border-radius: 3px;
    }
    div:nth-child(2) {
        gap: 8px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
    @container (width<=1000px) {
        flex-direction: column;
        align-items: start;
        div:nth-child(2) {
            display: none;
        }
    }
}
.supergrid {
    flex: 1;
}
.supergrid__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-auto-flow: dense;
    gap: 16px;
    padding: 20px var(--global-x-padding) 10px;
}

.supergrid__section {
    /* margin-top: 15px; */
}
.hidden-grid-container {
    overflow-y: hidden;
}
.hidden-grid {
    opacity: 60%;
}
