.card-content-container {
    padding: 12px 5px 10px 13px;
}

.location-name-text {
    display: flex;
    align-items: center;
    gap: 3px;
    font-family: var(--text-primary-font);
    font-size: 18px;
    font-weight: 500;
    margin: 2px -1px 0;

    white-space: nowrap;
    overflow: hidden;
    color: inherit;
    text-decoration: none;
    height: 18px;

    & svg {
        padding-top: 2px;
        color: var(--yellow-400);
        fill: var(--yellow-400);
        flex-shrink: 0;
    }
    & span {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.physical-location-text {
    font-size: 15px;
    color: var(--black-500);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & svg {
        margin-right: 5px;
    }
}

.lower-bar {
    display: flex;
    margin-top: 12px;
    align-items: center;
    justify-content: space-between;
}

.rating-container {
    display: flex;
    align-items: flex-end;
    gap: 4px;
}

.star-container {
    position: relative;
    height: 16px;

    svg {
        width: 16px;
        height: 16px;
    }
}

.rating-avg {
    font-size: 14px;
}

.rating-count {
    font-size: 12px;
    color: var(--text-muted);
}

.empty-star,
.filled-star {
    color: var(--black-600);
}

.filled-star {
    color: var(--yellow-400);
    overflow: hidden;
    position: absolute;
    inset: 0;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0px,
        rgba(0, 0, 0, 1) var(--star-cutoff),
        rgba(0, 0, 0, 0) var(--star-cutoff)
    );
}

@property --star-cutoff {
    syntax: '<length-percentage>';
    inherits: false;
    initial-value: 0%;
}
