.card__header__dot {
	width: 12px;
	height: 12px;
	margin-top: 7px;
	border-radius: 50%;
}
.card__header__dot--blinking {
	animation: blinking 1s infinite;
	animation-play-state: paused;
}

@keyframes blinking {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.TimesText {
	color: var(--card-text-muted);
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 14px;
  }