.card-header-container {
    display: flex;
    align-items: center;
    gap: 0px;
    color: var(--status-color);
    border-bottom: 2px solid var(--status-color);
    height: 32px;
    padding-inline: 10px;
    background: var(--card-header-bg);
    text-wrap-mode: nowrap;
}

.card-header-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--status-color);
    flex-shrink: 0;
    margin-right: 8px;
}

.card-header-relative-time-text {
    font-size: 15px;
    margin-right: 4px;
}

.card-header-absolute-time-text {
    font-size: 13px;
    color: var(--card-text-muted);
}

@media (max-width: 600px) {
    .card-header-dot {
        width: 8px;
        height: 8px;
    }
    .card-header-relative-time-text {
        font-size: 0.9rem;
    }   

    .card-header-container {
        gap: 7px;
        height: 2.4em;
    }

    .desktop {
        display: none
    }
}
