.card-content-container {
    padding: 12px 13px 20px;
}

.location-name-text {
    font-family: var(--text-primary-font);
    font-size: 18px;
    font-weight: 500;
    margin: 2px 0 0;
    margin-left: 1px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
    text-decoration: none;
}

.physical-location-text {
    font-size: 15px;
    color: var(--black-500);
    display: block;
    margin-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & svg {
        margin-right: 0.3rem;
    }
}

.action-bar {
    display: none;
    margin-top: 12px;
    align-items: center;
    justify-content: space-between;
}

.rating {
    visibility: hidden;
}

.card-content-menu {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    transform: translateX(-100%);
    z-index: 999;
    border-radius: 5px;
    border: 1px solid var(--card-border-color);
    background-color: var(--card-bg);
    color: var(--text-primary);
    padding: 5px 8px;
}

@media (max-width: 600px) {
    .desktop {
        display: none;
    }
    .card-content-container {
        padding: 10px 13px;
    }
    .physical-location-text {
        margin-top: 10px;
        font-size: 14px;
    }
    .location-name-text {
        font-size: 20px;
    }
}
