.Navbar {
    height: var(--navbar-height);
    background-color: #1e1e1e;
    padding: 14px;
    box-sizing: border-box;
    border-top: 2px solid #31373e;
}

.Navbar-links {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjusted for 3 links now */
    grid-auto-flow: column;
    height: 40px;
    margin: 0 auto;
    max-width: 600px; /* Adjusted width to accommodate new link */
}

.Navbar-links a {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Zilla Slab', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.Navbar-links svg {
    width: 24px;
    height: 24px;
    margin-right: 0.4em;
}

.Navbar-active {
    position: absolute;
    background-color: #2b2f33;
    border-radius: 999px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 0 5px #ee6f52, 0 0 10px #ee6f52, 0 0 15px #ee6f52; /* Glowing effect */
    width: calc(215% / 3); /* Adapt width to the number of links */
    height: 100%;
}

/* Active and hover styling managed via NavLink in Navbar.tsx */
