.Navbar {
    height: var(--navbar-height);
    background-color: var(--nav-bg);
    padding: 14px;
    box-sizing: border-box;
    border-top: 2px solid var(--nav-border-top);
}

.Navbar-links {
    position: relative;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    height: 40px;
    margin: 0 auto;
    max-width: 500px;
}

.Navbar-links a {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Zilla Slab', sans-serif;
    font-weight: 500;
    color: var(--text-primary);
    font-size: 16px;
    text-decoration: none;
}

.Navbar-links svg {
    width: 24px;
    height: 24px;
    margin-right: 0.4em;
}

.Navbar-active {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 33.33%;
    height: 100%;
    background-color: var(--selected-tab-bg);
    border-radius: 999px;
    transition:
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.3s ease-in-out;
}

.Navbar-active_map {
    transform: translateX(100%);
}

.Navbar-active_feedback {
    transform: translateX(200%);
}

.Navbar-active_glow {
    box-shadow:
        0 0 5px var(--hover-accent-color),
        0 0 10px var(--hover-accent-color),
        0 0 15px var(--hover-accent-color);
}
