.Navbar {
	height: var(--navbar-height);
	background-color: var(--nav-bg);
	padding: 14px;
	box-sizing: border-box;
	border-top: 2px solid var(--nav-border-top);
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1000;
}

.Navbar-links {
	position: relative;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	height: 40px;
	margin: 0 auto;
	max-width: 800px;
}

.Navbar-links a {
	position: relative;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Zilla Slab', sans-serif;
	font-weight: 500;
	color: var(--text-primary);
	font-size: 14px;
	text-decoration: none;
	gap: 6px;
}

.Navbar-links svg {
	width: 20px;
	height: 20px;
}

.Navbar-active {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 25%;
	height: 100%;
	background-color: var(--selected-tab-bg);
	border-radius: 999px;
	transition:
		transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 0.3s ease-in-out;
}

.Navbar-active_map {
	transform: translateX(100%);
}

.Navbar-active_nft {
	transform: translateX(200%);
}

.Navbar-active_casino {
	transform: translateX(300%);
}

.Navbar-active_glow {
	box-shadow:
		0 0 5px var(--hover-accent-color),
		0 0 10px var(--hover-accent-color),
		0 0 15px var(--hover-accent-color);
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
	.Navbar-links a {
		font-size: 12px;
		flex-direction: column;
		gap: 2px;
	}

	.Navbar-links svg {
		width: 18px;
		height: 18px;
	}
}
