.locations-search-wrapper {
    display: block;
    position: relative;
}

.locations-search {
    display: block;
    width: 100%;
    /* stays at the top when greeting text wraps */
    align-self: start;
    padding: 12.8px 16px;
    padding-left: 48px;
    border-radius: 16px;
    background: var(--input-bg);
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
    transition: all 0.2s;
    font-family: inherit;
    font-size: 16px;
    /* Heroicons v2.0.12 by Refactoring UI Inc., used under MIT license */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='rgba(255, 255, 255, .6)' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 16px center;
    color: var(--input-text);
    font-weight: 500;
    &::-webkit-search-decoration {
        display: none;
    }
    &:focus {
        transition: all 0.2s;
        box-shadow: 0 0 40px var(--hover-accent-color);
        border-color: var(--hover-accent-color);
        outline: none;
    }
    &::placeholder {
        color: var(--input-text-placeholder);
    }
}

.locations-search-hint {
    display: flex;
    position: absolute;
    inset: 0;
    left: calc(48px + 1px);
    align-items: center;
    color: var(--input-text-placeholder);
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.2s ease-in;

    kbd {
        border: 1px solid;
        border-radius: 5px;
        padding: 0px 3px;
        font-family: monospace;
        display: inline-flex;
        .line {
            width: 1px;
            margin: 0 4px;
            background-color: rgba(255, 255, 255, 0.285);
        }
    }
}

.locations-search:focus + .locations-search-hint,
.locations-search:not(:placeholder-shown) + .locations-search-hint {
    opacity: 0;
}
