html,
body,
#root,
.App {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family:
        'Inter',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background: var(--main-bg);
}

.App {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.MainContent {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    &:focus {
        outline: none;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.footer {
    margin-top: 80px;
    background-color: var(--footer-bg);
    padding: 40px;
    min-height: 130px;
    position: relative;
    overflow: hidden;
    &:has(.footer__miku) {
        min-height: 530px;
        /* we create a new stacking context so miku doesn't go below the bg */
        isolation: isolate;
    }
}
.footer__miku {
    position: absolute;
    right: 20px;
    top: -56px;
    height: 100%;
    z-index: -1;
    @media screen and (max-width: 900px) {
        & {
            top: 0;
        }
    }
}

.MuiCard-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.announcement {
    padding: 16px;
    font-size: 1.2em;
    color: white;
    text-align: center;
    background-color: #23272a;
}

.AdBanner {
    /* display: none; */
    padding: 16px;
    font-size: 20.8px;
    @media (max-width: 386px) {
        font-size: 17.6px;
    }
    color: white;
    text-align: center;
    background-color: hsl(155, 90%, 30%);
    border-bottom: 2px solid hsl(120, 70%, 15%);
    font-weight: 600;
}

.AdBannerLink {
    color: white;
}

.welcome-banner-container {
    overflow: hidden;
    position: sticky;
    top: 0%;
    z-index: 727;
}
.welcome-banner-padding {
    padding: 20px 15px;
    &.welcome-banner-padding--button {
        padding-left: 0;
        padding-right: 0;
        /* so it grows the same amt as spacer on left */
    }
}
.welcome-banner {
    display: flex;
    align-items: start;
    font-family: var(--text-primary-font);
    font-size: 28px;
    font-weight: 200;
    background-image: url('./assets/banner/bg-wave.svg?inline');
    background-position: top center;
    background-color: #1c1d20;
    border-bottom: 2px solid hsl(180, 3%, 8%);

    background-size: max(100vw, 1400px) 100%;
    background-repeat: no-repeat;

    & > .welcome-banner__spacer {
        flex-grow: 1;
    }
    & > .welcome-banner__text {
        isolation: isolate;
        align-self: stretch;
        position: relative;
        font-size: 20px;
        width: fit-content;
        display: flex;
        align-items: center;

        /* for a fade-out illusion, we create a second copy of the lines with the color the same as the bg but with dimensions equal to the text */
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            background-image: url('./assets/banner/fg-wave.svg?inline');
            background-position: top center;
            background-size: max(100vw, 1400px) 100%;
            background-repeat: no-repeat;

            mask-image: linear-gradient(
                to right,
                transparent 0%,
                rgba(0, 0, 0, 0.88) 10%,
                rgba(0, 0, 0, 0.88) 90%,
                transparent 100%
            );
            @media (max-width: 538px) {
                /* at around this point the container is no longer centered and thus can't act as a opacity filter */
                content: none;
            }
        }

        & > .welcome-banner__text--long {
            display: flex;
            align-items: center;
            gap: 15px;
            & img {
                height: 1.3em;
            }
            & span {
                /* firefox support something something */
                text-wrap: nowrap;
            }
        }
        & > .welcome-banner__text--long {
            display: flex;
        }
        & > .welcome-banner__text--short {
            display: none;
        }
        @media (max-width: 1073px) {
            & > .welcome-banner__text--long {
                display: none;
            }
            & > .welcome-banner__text--short {
                display: inline;
            }
        }
    }

    & > .welcome-banner__close {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0; /* so it grows the same amt as the spacer on the other side (instead of like slightly more) */
        align-self: center;
        & > button {
            display: block;
            margin-left: auto;
            margin-right: 60px;
            @media (max-width: 900px) {
                margin-right: 10px;
            }
            background-color: transparent;
            border: none;
            cursor: pointer;
            & img {
                transition: 0.2s all ease-in-out;
                height: 20px;
                &:hover {
                    filter: brightness(150%);
                    rotate: 90deg;
                    &:active {
                        filter: brightness(120%);
                    }
                }
            }
        }
    }
}

.outer-error-container {
    font-size: 20px;
    font-family: var(--text-primary-font);
    padding: 30px;
    margin: auto;
    text-align: center;
    & > img {
        display: block;
        margin: 20px auto;
        max-width: 100%;
        max-height: 300px;
        border-radius: 10px;
    }
    & > .outer-error-container__small-text {
        margin-top: 5px;
        font-size: 16px;
        color: hsl(206, 9%, 55%);
        word-break: break-word;
        @media screen and (max-width: 900px) {
            font-size: 16px;
        }
    }
    @media screen and (max-width: 900px) {
        font-size: 16px;
        text-align: left;
    }
}
