:root {
	--navbar-height: 70px;
	--navbar-height: calc(56px + max(env(safe-area-inset-bottom), 14px));
}

html,
body,
#root,
.App {
	height: 100%;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family:
		'Inter',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'Roboto',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

.App {
	text-align: left;
	background: var(--main-bg);
	display: flex;
	flex-direction: column;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.MainContent {
	overflow: auto;
	flex: 1;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.Container {
	padding: 72px 48px 0;
	flex-grow: 1;
	overflow: hidden;
	@media screen and (max-width: 900px) {
		& {
			padding: 50px 15px;
		}
	}
}

.footer {
	margin-top: 80px;
	background-color: var(--footer-bg);
	padding: 40px;
	min-height: 130px;
	position: relative;
	overflow: hidden;
	&:has(.footer__miku) {
		min-height: 530px;
		/* we create a new stacking context so miku doesn't go below the bg */
		isolation: isolate;
	}
}
.footer__miku {
	position: absolute;
	right: 20px;
	top: -56px;
	height: 100%;
	z-index: -1;
	@media screen and (max-width: 900px) {
		& {
			top: 0;
		}
	}
}

.MuiCard-root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.announcement {
	padding: 1rem;
	font-size: 1.2em;
	color: white;
	text-align: center;
	background-color: #23272a;
}

.AdBanner {
	display: none;
	padding: 1rem;
	font-size: 1.5em;
	color: white;
	text-align: center;
	background-image: linear-gradient(
		90deg,
		hsl(210deg 94% 33%) 0%,
		hsl(210deg 93% 34%) 8%,
		hsl(210deg 92% 36%) 17%,
		hsl(210deg 91% 38%) 25%,
		hsl(210deg 90% 39%) 33%,
		hsl(210deg 90% 41%) 42%,
		hsl(210deg 89% 42%) 50%,
		hsl(210deg 88% 44%) 58%,
		hsl(210deg 88% 46%) 67%,
		hsl(210deg 87% 47%) 75%,
		hsl(210deg 87% 49%) 83%,
		hsl(210deg 89% 51%) 92%,
		hsl(210deg 94% 52%) 100%
	);
	border-bottom: 2px solid hsl(210 94% 17%);
	font-weight: 600;
}
