html,
body,
#root,
.App {
    height: 100%;
    padding-bottom: 0 !important; /* override tanstack dev tool styling */
}

html,
body {
    margin: 0;
    padding: 0;
    font-family:
        'Inter',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background: var(--black-950);
}

.App {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.MainContent {
    flex: 1;
    min-height: 0;
    background-image: url(./assets/v_day_bg.png);

    overflow-y: auto;
    &:focus {
        outline: none;
    }
    @media screen and (max-width: 900px) {
        /* important! this breakpoint should match the mobile drawer breakpoint */
        /* allow natural scroll on mobile */
        min-height: auto;
        overflow-y: visible;

        /* tweaks to get the sticky search bar working again */
        .list-page-container {
            overflow-x: visible;
        }
        .list-box {
            overflow-y: visible;
        }
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}
.MuiCard-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.outer-error-container {
    font-size: 20px;
    font-family: var(--text-primary-font);
    padding: 30px;
    margin: auto;
    text-align: center;
    & > img {
        display: block;
        margin: 20px auto;
        max-width: 100%;
        max-height: 300px;
        border-radius: 10px;
    }
    & > .outer-error-container__small-text {
        margin-top: 5px;
        font-size: 16px;
        color: hsl(206, 9%, 55%);
        word-break: break-word;
        @media screen and (max-width: 900px) {
            font-size: 16px;
        }
    }
    @media screen and (max-width: 900px) {
        font-size: 16px;
        text-align: left;
    }
}
