html,
body,
#root,
.App {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family:
        'Inter',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.App {
    text-align: left;
    background: var(--main-bg);
    display: flex;
    flex-direction: column;
}

.MainContent {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.footer {
    margin-top: 80px;
    background-color: var(--footer-bg);
    padding: 40px;
    min-height: 130px;
    position: relative;
    overflow: hidden;
    &:has(.footer__miku) {
        min-height: 530px;
        /* we create a new stacking context so miku doesn't go below the bg */
        isolation: isolate;
    }
}
.footer__miku {
    position: absolute;
    right: 20px;
    top: -56px;
    height: 100%;
    z-index: -1;
    @media screen and (max-width: 900px) {
        & {
            top: 0;
        }
    }
}

.MuiCard-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.announcement {
    padding: 1rem;
    font-size: 1.2em;
    color: white;
    text-align: center;
    background-color: #23272a;
}

.AdBanner {
    /* display: none; */
    padding: 1rem;
    font-size: 1.3rem;
    @media (max-width: 386px) {
        font-size: 1.1rem;
    }
    color: white;
    text-align: center;
    background-color: hsl(155, 90%, 30%);
    border-bottom: 2px solid hsl(120, 70%, 15%);
    font-weight: 600;
}

.AdBannerLink {
    color: white;
}
.outer-error-container {
    font-size: 40px;
    font-family: var(--text-primary-font);
    padding: 30px;
    margin: auto;
    text-align: center;
    & > img {
        display: block;
        margin: 20px auto;
        max-width: 100%;
        max-height: 400px;
    }
    & > .outer-error-container__small-text,
    & a {
        font-size: 30px;
        color: hsl(206, 9%, 55%);
        line-break: anywhere;
        @media screen and (max-width: 900px) {
            font-size: 16px;
        }
    }
    @media screen and (max-width: 900px) {
        font-size: 20px;
        text-align: left;
    }
}
