html,
body {
  background-color: #2c2f33;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.App {
  text-align: left;
  background-color: #2c2f33;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Container {
  padding: 1rem;
  flex-grow: 1;
}

.badge-accent {
  color: #105c03;
  background: #19b875;
  padding: 10px;
  border-radius: 30;
}

.footer {
  margin-top: 80px;
  background-color: #23272a;
  padding: 40px;
  min-height: 130px;
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.announcement {
  padding: 1rem;
  font-size: 1.2em;
  color: white;
  text-align: center;
  background-color: #23272a;
}

.Locations-header {
  display: grid;
  grid-gap: 1rem;
  padding: 3rem 0;
}

@media screen and (min-width: 900px) {
  .Locations-header {
    grid-template-columns: 1fr 300px;
    align-items: center;
  }
}

.Locations-search {
  display: block;
  width: 100%;
  padding: .8rem 1rem;
  padding-left: 3rem;
  border-radius: 1rem;
  background: #23272a;
  
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px rgba(255, 2555, 255, .0);
  transition: .1s ease-in-out box-shadow;

  font-family: inherit;
  font-size: 1.2rem;

  /* Heroicons v2.0.12 by Refactoring UI Inc., used under MIT license */
  background-image: url("data: image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='rgba(255, 2555, 255, .6)' class='w-5 h-5' %3E%3Cpath fill-rule='evenodd' d='M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z' clip-rule='evenodd' /%3E%3C/svg%3E");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 1rem center;

  color: white;
  font-weight: 500;
}

.Locations-search::-webkit-search-decoration {
  display: none;
}

.Locations-search:focus {
  box-shadow: 0 0 0 2px rgba(255, 2555, 255, .4);
}
