.banner {
    background-color: var(--red-600);
    padding: 15px var(--global-x-padding);
    font-family: var(--text-secondary-font);
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    button {
        margin-left: auto;
        background-color: transparent;
        border: transparent;
        padding: 5px 2px;
        svg {
            height: 13px;
            display: block;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}
