name: Lint
on:   
  push:
  pull_request:
    types: [opened, reopened]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Check TypeScript
        run: bunx tsc
      - name: Run ESLint
        run: bun lint
