name: Run unit tests
on:   
  push:
  pull_request:
    types: [opened, reopened]


jobs:
  vitest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: run bun test
        run: bun test