name: Run Unit Tests
on:   
  push:
  pull_request:
    types: [opened, reopened]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1 # Setup bun
        with:
            bun-version: 1.0.23
      - run: bun install 
      - name: Run bun test
        run: bun test
